# Data Extraction; Lunar Cycle

This notebook extracts the lunar cycles from 2000 to 2020

## Table of Contents

1. Load data
2. Prepare data
3. Quick Analysis
4. Export data & Analysis

In [3]:
import pylunar
import datetime
import pandas as pd

help(pylunar)
# taking the coordinates from google search: 'Montreal coordinates'

mi = pylunar.MoonInfo((45, 50, 17), (-73,56,73))

Help on package pylunar:

NAME
    pylunar

DESCRIPTION
    # This file is part of pylunar.
    #
    # Developed by Michael Reuter.
    #
    # See the LICENSE file at the top-level directory of this distribution
    # for details of code ownership.
    #
    # Use of this source code is governed by a 3-clause BSD-style
    # license that can be found in the LICENSE file.

PACKAGE CONTENTS
    helpers
    lunar_feature
    lunar_feature_container
    moon_info

DATA
    __email__ = 'mareuternh@gmail.com'

VERSION
    0.6.0

AUTHOR
    Michael Reuter

FILE
    c:\users\athompson-leduc\appdata\local\continuum\anaconda3\lib\site-packages\pylunar\__init__.py

## 1 Load data

In [13]:
start_date = datetime.date(2005, 1, 1)
end_date = datetime.date(2019, 12, 31)
delta = datetime.timedelta(days = 1)

data_list = []
cols = ['date', 'moon_phase_fract', 'moon_phase_name']
df_moon = pd.DataFrame(columns=cols)

while start_date <= end_date:

    # we use the coordinates at midnight
    mi.update((start_date.year, start_date.month, start_date.day, 0, 0, 0))
    
    df_moon = df_moon.append({'moon_phase_name':mi.phase_name(), 'date':start_date, 'moon_phase_fract':mi.fractional_phase()}, ignore_index = True)
    
    start_date += delta

## 2 Prep data

In [14]:
df_moon.head()

         date  moon_phase_fract  moon_phase_name
0  2005-01-01          0.760662   WANING_GIBBOUS
1  2005-01-02          0.673395   WANING_GIBBOUS
2  2005-01-03          0.577129   WANING_GIBBOUS
3  2005-01-04          0.474584  WANING_CRESCENT
4  2005-01-05          0.369437  WANING_CRESCENT

## 3 Analysis

In [15]:
df_moon.describe(include='all')

              date  moon_phase_fract  moon_phase_name
count         5478       5478.000000             5478
unique        5478               NaN                8
top     2011-09-08               NaN  WAXING_CRESCENT
freq             1               NaN             1344
mean           NaN          0.500431              NaN
std            NaN          0.351311              NaN
min            NaN          0.000016              NaN
25%            NaN          0.151741              NaN
50%            NaN          0.502477              NaN
75%            NaN          0.850668              NaN
max            NaN          0.999994              NaN

## 4 Export Results

In [16]:
df_moon.to_csv('moon_cycles.csv')